<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>木桶布局照片墙</title>
  <style>
    .wrap {
      width: 1000px;
      margin: 0 auto;
    }
    .wrap>div {
      height: 200px;
      margin-top: 20px;
    }
    .items {
      height: 100%;
      display: inline-block;
    }
    .items > img {
      height: 100%;
      margin-left: 10px;
    }
  </style>
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
</head>
<body>
  <div class="wrap">
  </div>
  <div class="vs"></div>

</body>
<script>
  function Barrel() {
    this.loadNum = 25
    this.isLoad = false
  }
  Barrel.prototype = {
    getPic: function (num) {
      var imgUrl = []
      for (var i = 0; i < num; i++){
        imgUrl.push(
            'https://unsplash.it/'
            + parseInt(Math.random() * 300 + 150)
            + '/'
            + parseInt(Math.random() * 300 + 150)
            + '/?random')
      }
      return imgUrl
    },
    render: function (url) {
      var lineWidth = 0
      var wrapWidth = $('.wrap').width()
      var lineNode = '<div class="line"></div>'
      var $lNode = $(lineNode)
      var node = []
      // 获取图片节点对象数组
      for(var i = 0; i < url.length; i++)
      {
        node.push(this.createNode(url[i]))
      }
      var picCount = 0
      $.each(node, function (idx, $node) {
        // 等待图片加载完后操作
        $node.find('img').on('load',function () {
          var imgWidth = this.width * (200 / this.height) // 按照父元素的高调整图片宽度
          // 若图片没有排满一行这在这行继续添加图片
          if(lineWidth + imgWidth < wrapWidth) {
            $lNode.append($node)
            lineWidth += imgWidth
            picCount += 1
          }else {
            // 若一行图片排满了，进行插入网页，及重置行节点操作
            $('.wrap').append($lNode)// 将一行图片插入网页中

            $lNode.height(200 * ((wrapWidth - 10 * picCount)/ lineWidth)) // 调整行高使图片布满整行 10为图片padding

            lineNode = '<div class="line"></div>' // 定义新的一行dom节点
            picCount = 1 // 重置图片技术
            $lNode = $(lineNode)

            $lNode.append($node)
            lineWidth = imgWidth // 重新计算行宽
          }
        })
      })
    },
    createNode: function (links) {
      var node = '<div class="items"><img src=' + '"' + links + '"' + ' alt=""></div>'
      return $(node)
    },
    isVisible: function ($node) {
      var winH = $(window).height(),
          scrollH = $(window).scrollTop(),
          top = $node.offset().top;
      if (top > scrollH && top < scrollH + winH + 200) {
        return true
      }else {
        return false
      }
    },
    main: function () {
      var loadNum = this.loadNum
      var img = this.getPic(loadNum)
      this.render(img)
      var isLoad = false
      var vsNode = $('.vs')
      var __this = this
      var scrollH1 = $(window).scrollTop()
      var scrollH2 = $(window).scrollTop()

      $(window).on('scroll', function () {
        var visible = __this.isVisible(vsNode)
        scrollH1 = $(window).scrollTop() // 获取滚动时的滚动长度
        console.log(scrollH1)
        if(visible === false && scrollH1 > scrollH2) { //当 scrollH1 > scrollH2 时，证明加载完成，重置加载状态
          isLoad = false
        }
        if(isLoad){
          return
        }
        if(visible){
          loadNum = 10
          __this.render(__this.getPic(loadNum))
          isLoad = true
          scrollH2 = $(window).scrollTop() //获取加载图片时的滚动长度
          console.log(scrollH2)
        }
      })
    }
  }

  var test = new Barrel()
  test.main()
</script>
</html>