<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>木桶布局照片墙</title>
  <style>
    .wrap {
      width: 1000px;
      margin: 0 auto;
    }
    .wrap>div {
      height: 200px;
      margin-top: 20px;
    }
    .items {
      height: 100%;
      display: inline-block;
    }
    .items > img {
      height: 100%;
      margin-left: 10px;
    }
    .search {
      width: 300px;
      margin: 0 auto;
    }
  </style>
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
</head>
<body>
  <div class="search">
    <input id="id-input-search" type="text">
    <button id="id-button-search">search</button>
  </div>
  <div class="wrap">
  </div>
  <div class="vs"></div>
</body>
<script src="./main.js"></script>
</html>
