footer{
  font-size: 20px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: rgba(146, 19, 11, 0.6);
  color: #fff;
}

.go-top:hover {
  opacity: 1;
}

.go-top {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fffd6f;
  color: #c0bcff;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
  position: fixed;
  right: 50px;
  bottom: 50px;
  font-weight: bold;
  z-index: 5;
  opacity: 0.5;
  display: none;
}

/*瀑布流*/

.waterfall ul,li,h4,p {
  margin: 0;
}
.waterfall h4,p {
  margin: 10px;
}

.waterfall h4 {
  border-bottom: solid 1px ;
  padding-bottom: 5px;
}
.waterfall ul {
  list-style: none;
  width: 100%;
  margin-bottom: 20px;
}
.waterfall li {
  margin-top: 10px;
  margin-left: 10px;
  border: solid 1px #b8d6b5;
}
.waterfall a {
  text-decoration: none;
  color: black;
}
.waterfall {
  width: 906px;
  margin: 0 auto;
}
.waterfall .pic {
  position: relative;
}
.waterfall .item {
  position: absolute;
  width: 290px;
}

.waterfall .item img {
  width: 100%;
}
.waterfall .item1 {
  display: none;
}

.waterfall .hide {
  height: 20px;
  width: 150px;
  text-align: center;
  background: #8d89ec;
  padding: 5px;
  border-radius: 8px;
  margin: 0 auto;
}


